APP_NAME=VideoParse API
DEBUG=true
FRONTEND_ORIGIN=http://127.0.0.1:5173
API_PUBLIC_ORIGIN=http://127.0.0.1:8000
CLEANUP_INTERVAL_HOURS=6
CLEANUP_RETENTION_HOURS=6
YT_DLP_DOWNLOAD_FORMAT=best[height<=1080]/bestvideo*[height<=1080]+bestaudio/best
YT_DLP_MERGE_OUTPUT_FORMAT=mp4
FFMPEG_LOCATION=
PROXY_TIMEOUT_SECONDS=30
PROXY_CHUNK_SIZE=65536
PROXY_MAX_CONNECTIONS=20
